<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
 <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="css/Home.css">

</head>
<body style="background-image:url(Background.jpg)">
  <ul>
    <li class="list"><a href="/yourChoice">Car Rental Services</a></li>
    <li><a href="/index">GuestBook</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/yourChoice">Car Rent Calculator</a></li>
    <li><a href="/home">Home</a></li>
  </ul>
<div class="jumbotron container">
    <div class="container ">
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</div>
</div>